button:focus{
  outline: none;
}
//////////Button for form on home page//////////
.button_form{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 100%;
  display: -webkit-flex;
  color: $primary-orange;
  justify-content: center;
  background-color: transparent;
  border: 2px solid $primary-orange;

  &:active{
    color: $primary-black;
    outline: none !important;
    background-color: $primary-orange;
  }

  &-text{
    color: $primary-orange;
    font-family: $text-font;
  }
}

//////////Button for project page//////////
.dropdownButton{
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $primary-white;


  &:hover .dropdownButton_title {
    opacity: 0.6;
  }
  &_title{
    font-weight: 100;
    color: $primary-white;
    font-family: $text-font;
    text-transform: uppercase;
    font-size: $subheading-3-mobile;

      &-arrow{
        font-weight: 400;
        font-family: $header-font;
        &:hover{
      }
    }
  }
}


#dropdownText{
  position: absolute;
  font-weight: 100;
  text-align: left;
  color: $primary-white;
  font-family: $text-font;
  font-size: $subheading-4-mobile;


}

/*
.dropdownButton:focus #dropdownMark{
  display: inline-block;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/



@media screen and (min-width: 700px){
//////////Button for form on home page//////////
  .button_form{
    width: 100px;
    height: 30px;
    float: right;
    margin: 10px;
    border-radius: 0.1em;
    &:hover{
      color: $primary-black;
      background-color: $primary-orange;
    }
    &:active{
      outline: none !important;
      background-color: rgba(242, 102, 34, 0.8);
      border: 1px solid rgba(242, 102, 34, 0.8);
    }
    &:visited{
      outline: none !important;
    }
  }


}
