//////////All buttons//////////

button:focus{
  outline: none;
}



//////////Button for form on home page//////////
.button_form{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 100%;
  display: -webkit-flex;
  color: $primary-orange;
  justify-content: center;
  background-color: transparent;
  border: 2px solid $primary-orange;

  &:active{
    color: $primary-black;
    outline: none !important;
    background-color: $primary-orange;
  }

  p{
    font-family: $text-font;
    font-size: $subheading-4;
  }
}



//////////Button for project page//////////
.dropdownButton{
  width: 100%;
  border: none;
  margin-top: 2%;
  font-weight: 100;
  text-align: center;
  color: $primary-white;
  font-family: $text-font;
  text-transform: uppercase;
  background-color: transparent;
  font-size: $subheading-2-mobile;
  border-bottom: 1px solid $primary-white;

  &:hover{
    opacity: 0.6;
  }
}

.dropdownText{
  position: absolute;
  font-weight: 100;
  text-align: left;
  padding-top: 5px;
  color: $primary-white;
  font-family: $text-font;
  font-size: $subheading-3-mobile;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}





@media screen and (min-width: 700px){
  .button_form{
    width: 100px;
    height: 30px;
    float: right;
    margin: 10px;
    border-radius: 0.1em;

    &:hover{
      color: $primary-black;
      background-color: $primary-orange;
    }

    &:active{
      outline: none !important;
      background-color: rgba(242, 102, 34, 0.8);
      border: 1px solid rgba(242, 102, 34, 0.8);
    }

    &:visited{
      outline: none !important;
    }
  }

  .dropdownButton{
      font-size: $subheading-3-mobile;
  }

  .dropdownText{
    font-size: $subheading-3-mobile;
  }
}



@media screen and (min-width: 900px){

  .dropdownButton{
      font-size: $subheading-4;
  }

  .dropdownText{
    font-size: $subheading-4;
  }
}
