$header-font: 'Lato', sans-serif;
$title-font: 'Museo sans';

$heading: 58px;
$subheading-1: 30px;
$subheading-2: 25px;
$subheading-3: 20px;
$subheading-4: 18px;

$heading-mobile: 25px;
$subheading-1-mobile: 20px;
$subheading-2-mobile: 18px;
$subheading-3-mobile: 16px;
$subheading-4-mobile: 14px;

.font_light{
  font-family: 'Museo sans';
  font-weight: 100;
}
