$header-font: 'Lato', sans-serif;
$text-font: 'Museo sans';

$heading: 58px;
$subheading-1: 30px;
$subheading-2: 25px;
$subheading-3: 20px;
$subheading-4: 18px;

$heading-mobile: 25px;
$subheading-1-mobile: 20px;
$subheading-2-mobile: 18px;
$subheading-3-mobile: 16px;
$subheading-4-mobile: 14px;


//////////Main titles//////////
.title{
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;

  &_font{
    color: $primary-white;
    font-family: $text-font;
    font-size: $subheading-1-mobile;

    &-light{
      font-weight: 100;
      text-align: center;
      color: $primary-white;
      font-family: 'Museo sans';
      font-size: $subheading-3-mobile;
    }
  }
}

.font_light{
  font-family: 'Museo sans';
  font-weight: 100;
}


.titleBlack{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -35%;
  text-align: center;

  &_font{
    color: $primary-white;
    font-family: $text-font;
    font-size: $subheading-1-mobile;

    &-light{
      font-weight: 100;
      color: $primary-white;
      font-family: 'Museo sans';
      font-size: $subheading-3-mobile;
    }
  }
}


.film_title{
  font-weight: 100;
  text-align: center;
  margin: 0px 0px 0px;
  color: $primary-white;
  font-family: 'Museo sans';
  text-transform: uppercase;
  font-size: $subheading-2-mobile;
}


@media screen and (min-width: 700px){
  .title{
    margin-bottom: 5%;
  }
  .title_font{
    font-size: $subheading-1;
    &-light{
      font-size: $subheading-3;
    }
  }

  .titleBlack{

    &_font{
      color: $primary-black ;
      font-size: $subheading-1;

      &-light{
        font-size: $subheading-3;
        color: $primary-black ;
      }
    }
  }

  .film_title{
    font-size: $subheading-4-mobile;
  }
}


@media screen and (min-width: 900px){
  .film_title{
    font-size: $subheading-4;
  }
}
