.wrapper{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20%;
}

.blackBox{
  background-color: $primary-black;
  height: 100px;
}
.gradientBox{
   background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
   height: 1000px;
}

.gradientBoxReverse{
   background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
   height: 1000px;
}

.gradient2Box{
  background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
  height: 1000px;
  display: block;
}
.gradient2BoxReverse{
  background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
  height: 1000px;
  display: block;
}




p{
  margin: 0;
  margin-bottom: 0rem;
}

@media screen and (min-width: 700px){
  .wrapper{
    margin-bottom: 10%;
  }
  .blackBox{
    background-color: $primary-black;
    height: 100px;
  }
  .gradientBox{
     background-image: linear-gradient(to bottom right,#f26622 50%,  black 50%);
     height: 500px;
  }

  .gradientBoxReverse{
     background-image: linear-gradient(to bottom right, black 50%, #f26622 50%);
     height: 500px;
  }
  .gradient2Box{
    background-image: linear-gradient(to bottom left,#f26622 50%,  black 50%);
    height: 300px;
    display: block;
  }
  .gradient2BoxReverse{
    background-image: linear-gradient(to bottom left, black 50%, #f26622 50%,);
    height: 300px;
    display: block;
  }



}


@media screen and (min-width: 900px){
  .wrapper{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .gradient2Box{
    background-image: linear-gradient(to bottom left,#f26622 50%,  black 50%);
    height: 500px;
    display: block;
  }
  .gradient2BoxReverse{
    background-image: linear-gradient(to bottom left, black 50%, #f26622 50%,);
    height: 500px;
    display: block;
  }

  .blackBox{
    background-color: $primary-black;
    height: 100px;
  }
}
