.wrapper{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20%;
}

.blackBox{
  height: 100px;
  background-color: $primary-black;
}
.gradientBox{

   height: 500px;
   display: block;
   background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
}

.gradientBoxReverse{
   height: 400px;
   display: block;
   background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
}

.gradient2Box{
  height: 1000px;
  display: block;
  background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
}
.gradient2BoxReverse{
  height: 1000px;
  display: block;
  background-image: linear-gradient(to bottom right, $primary-black 50%,  $primary-black 50%);
}


p{
  margin: 0;
  margin-bottom: 0rem;
}



@media screen and (min-width: 700px){
  .wrapper{
    margin-bottom: 10%;
  }

  .blackBox{
    height: 100px;
    background-color: $primary-black;
  }

  .gradientBox{
     height: 500px;
     display: block;
     background-image: linear-gradient(to bottom right,#f26622 50%,  black 50%);
  }

  .gradientBoxReverse{
     height: 500px;
     background-image: linear-gradient(to bottom right, black 50%, #f26622 50%);
  }

  .gradient2Box{
    height: 300px;
    display: block;
    background-image: linear-gradient(to bottom left,#f26622 50%,  black 50%);
  }

  .gradient2BoxReverse{
    height: 300px;
    display: block;
    background-image: linear-gradient(to bottom left, black 50%, #f26622 50%);
  }



}


@media screen and (min-width: 900px){
  .wrapper{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .gradient2Box{
    height: 500px;
    display: block;
    background-image: linear-gradient(to bottom left,#f26622 50%,  black 50%);
  }

  .gradient2BoxReverse{
    height: 500px;
    display: block;
    background-image: linear-gradient(to bottom left, black 50%, #f26622 50%);
  }

  .blackBox{
    height: 100px;
    background-color: $primary-black;
  }
}
