nav{
  width: 100%;
  z-index: 999;
  position: fixed;
  background-image: linear-gradient(to right, $primary-black 50%,  $primary-orange 50%);

    a{
      float: right;
      color: $primary-black;
      font-size: $subheading-3-mobile;
      text-transform: uppercase;
      margin-top: 0.5%;
      padding: 1%;
      &:first-child{
         margin-right: 5%;
       }

        &:hover{

          text-decoration: none;
          border-bottom: 2px solid $primary-black;
        }
      }
    }


.navOnScroll{
  background-color: $primary-black;
  border-bottom: 1px solid $primary-white;
  a{
    color: $primary-white;

  }

    a:hover{
        text-decoration: none;
        border-bottom: 1px solid $primary-white;
    }
 }


@media screen and (min-width: 700px){
  nav{
    background-image: none;
    background-color: transparent;
  }
}
