nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  background-image: linear-gradient(to right, $primary-black 50%,  $primary-orange 50%);
  a{
    margin-left: 2%;
    float: right;
    color: $primary-black;
    &:first-child{
      margin-right: 5%;
    }
    &:hover{
      border-bottom: 2px solid $primary-black;
      text-decoration: none;
    }
  }

}

.navOnScroll{
  background-color: $primary-black;
  color: $primary-white;
  border-bottom: 1px solid $primary-white;
  &:hover{
      border-bottom: 2px solid $primary-white;
      text-decoration: none;
  }
}

@media screen and (min-width: 700px){

  nav{
    background-color: transparent;
    background-image: none;
  }
}
