.tabs{
  text-align: center;
}


ul{
  padding: 0px 0px 0px 0px;


  li{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    list-style-type: none;
    background-color: transparent;
    border: 2px solid $primary-orange;
    display: inline-block;
    margin: 5%;
    line-height: 5.5;
    text-transform: uppercase;
    font-family: $header-font;


    a{
      color: $primary-orange;
      font-size: 12px;
      font-weight: 100;
      &:hover{
        text-decoration: none;

      }
    }
  }
}




.is-active{
    background-color: $primary-orange;
    a{
      color: $primary-black;
      text-decoration: none;
  }
}



@media screen and (min-width: 700px){
  ul{
    border-bottom: 2px solid $primary-white;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;

    li{
      width: auto;
      height: auto;
      border-radius: 0%;
      background-color: transparent;
      color: $primary-white;
      width: 20%;
      border: none;
      display: block;
      margin: 0%;
      line-height: 1.5;

      a{
        color: $primary-white;
        font-size: $subheading-4-mobile;

      }
    }
  }

  .is-active{
    width: 20%;
    border-bottom: 2px solid $primary-orange;
    color: $primary-orange;
    margin-bottom: -2px;
    background-color: transparent;

    a{
      color: $primary-orange;
    }
  }
}
@media screen and (min-width: 900px){
  ul li a{
    font-size: $subheading-4;

  }
}
